.itemCard {
  background: #ffffff;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  text-align: center;
}

.itemCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
}

.dishImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

h3 {
  margin: 12px 0;
  font-size: 18px;
  color: #333;
}

.veiwMore {
  background-color: #4dea38;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.veiwMore:hover {
  background-color: #7af66a;
}
