.outerContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.outerContainer img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.nameAndamount {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.nameAndamount span:first-child {
  font-weight: 600;
}
