.searchContainer {
  width: 100%;
  padding-top: 29px ;
  background-color: #f8f9fa;

  display: flex;
  justify-content: center;
}

.inputField {
  width: 100%;
  max-width: 1000px; /* keeps it clean on large screens */
  padding: 14px 20px;

  font-size: 1rem;
  border-radius: 50px;
  border: 2px solid #ff914d;

  outline: none;
  transition: all 0.3s ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.inputField:focus {
  border-color: #ff4d6d;
  box-shadow: 0 0 0 4px rgba(255, 77, 109, 0.15);
}

/* Optional placeholder styling */
.inputField::placeholder {
  color: #999;
}
