.searchContainer {
  width: 100%;
  height: 100px;
  background-color: rgb(248, 248, 140);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.inputField {
  width: 30%;
}
